/* @media(max-width:320px); */


    

:root {
    --azul: #123B61;
    --amarillo: #FFD91E;
    --azuloscuro: #0c2945;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azuloscuro);
    background-image: url(imagenes/Dahat-web-Elem-Header.png);
    max-width: 100%;
    
}

.cabecera {
    margin-top: 0;
    
}
.cabecera, .contenedor {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.contenedor{
    
    
    display: inline-block;
    text-align: center;
}


.texto-encima{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
   
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--amarillo);
}
/* .contenedor {
    border-radius: 10px 10px 0 0;
    background-color: var(--amarillo);
} */
.cabecera {
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.nav {
    padding: 10px;
    padding-left: 45px;
    display: flex;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
    text-align: left;
    
}
.nav-lista {
    list-style: none;
    display:flex;
    justify-content: center;
    
    

}
.nav-lista_item {
    color:var(--amarillo);
    display:block;
    padding: 4px 8px;
    text-decoration: none;
    
    font-weight: bold;
}

    

.imagenpequeña {
    width: 150px;
     height: 150px;

}

.slider {
    
    display: flex;
    align-self: flex-end;
    font-size: small;
    font-weight: 500;
    text-align: justify;
    color: var(--azuloscuro);
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

 
 
}


.boton {
    
    width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--amarillo)
  outline none;
  transition: 1s ease-in-out
}
.color {
    color: var(--amarillo);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.boton:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.boton:hover svg {
  stroke-dashoffset: -480;
}

.boton span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.whatsapp {
    background-color: var(--azuloscuro);
    color:lime;
    font-size:large;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 @media (max-width: 800px) {
     .nav-lista {
         display: block;
     }
     .logo {
         max-width: 100%;
     }
    .cabecera, .contenedor {
         max-width: 100%;

     }
     .boton {
         max-width: 100%;
     }
     .slider {
         max-width: 100%;
     }
  

}
@media (max-width: 767px) {
    .nav-lista {
        display: block;
    }
    .logo {
        max-width: 100%;
    }
    .cabecera, .contenedor{
        max-width: 100%;

    }
    .boton {
        max-width: 100%;
    }
    .slider {
        max-width: 100%;
    }

}
@media (max-width: 400px){
    .nav-lista {
        display: block;
    }
    .logo {
        max-width: 100%;
    }
    .cabecera, .contenedor {
        max-width: 100%;

    }
    .boton {
        max-width: 100%;
    }
    .slider {
        max-width: 100%;
    }

} 